# Eat Safe, Love

## Notebook Set Up

In [37]:
# Import dependencies
import pymongo
import pprint
import pandas as pd

In [11]:
# Create an instance of MongoClient
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [12]:
# assign the uk_food database to a variable name
db = client.uk_food

In [13]:
# review the collections in our database
cs = db.list_collection_names()
cs

['establishments']

In [14]:
# assign the collection to a variable
coll = db.establishments

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [181]:
# Find the establishments with a hygiene score of 20
query = coll.find({"scores.Hygiene":20})

results = []

for result in query:
    results.append(result)

# Use count_documents to display the number of documents in the result
coll.count_documents({"scores.Hygiene":20})

41

In [182]:
# Display the first document in the results using pprint
pprint.pprint(results[0])

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64037f79555fc900eeedfbc8'),
 'geocode': {'latitude': Decimal128('50.769705'),
             'longitude': Decimal128('0.27694')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [75]:
# Convert the result to a Pandas DataFrame
hygiene_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
len(hygiene_df.index)

41

In [76]:
# Display the first 10 rows of the DataFrame
hygiene_df.head()

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,64027ca31fa5aca0ae04b9d4,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,0.27694,50.769705,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,64027ca31fa5aca0ae04bd55,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,1.278721,51.857536,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,64027ca31fa5aca0ae04c05f,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,1.15927,51.789429,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,64027ca31fa5aca0ae04c250,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,0.10202,50.770885,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,64027ca31fa5aca0ae04c25c,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,0.101446,50.770724,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [176]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query4 = coll.find({"LocalAuthorityName": {"$regex": "London"}, "RatingValue" : "4"})
query5 = coll.find({"LocalAuthorityName": {"$regex": "London"}, "RatingValue" : "5"})

results = []

for result in query4:
    results.append(result)
    
for result in query5:
    results.append(result)

#coll.update_many({},[{"$set": {"geocode.longitude": {"$toDecimal":"$geocode.longitude"}}}])
rat_four = coll.count_documents({"LocalAuthorityName": {"$regex": "London"}, "RatingValue" : "4"})
rat_five = coll.count_documents({"LocalAuthorityName": {"$regex": "London"}, "RatingValue" : "5"})
rat_four + rat_five

33

In [177]:
# Display the first document in the results using pprint
pprint.pprint(results[0])

{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': '4',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('64037f7b555fc900eeee15e3'),
 'geocode': {'latitude': Decimal128('51.369321'),
             'longitude': Decimal128('0.508551')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [178]:
# Convert the result to a Pandas DataFrame
london_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
len(london_df.index)

33

In [179]:
# Display the first 10 rows of the DataFrame
london_df.head()

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,geocode.longitude,geocode.latitude,meta.dataSource,meta.extractDate,meta.itemCount,meta.returncode,meta.totalCount,meta.totalPages,meta.pageSize,meta.pageNumber
0,64037f7b555fc900eeee15e3,621707,0,PI/000025307,Charlie's,Other catering premises,7841,Oak Apple Farm Building 103 Sheernes Docks,Sheppy Kent,,...,0.508551,51.369321,None,0001-01-01T00:00:00,0,None,0,0,0,0
1,64037f7d555fc900eeee2456,293783,0,PI/000002614,Benfleet Motor Yacht Club,Other catering premises,7841,Ferry Road,South Benfleet Essex,,...,0.561954,51.543831,None,0001-01-01T00:00:00,0,None,0,0,0,0
2,64037f8d555fc900eeee5e34,878523,0,PI/000029844,Brick Lane Brews,Restaurant/Cafe/Canteen,1,Air side London City Airport,London,,...,0.048006,51.503733,None,0001-01-01T00:00:00,0,None,0,0,0,0
3,64037f8f555fc900eeee6500,1392440,0,PI/000037382,La Nonna lina,Other catering premises,7841,Dock Road,London,Charlton,...,0.0157549995929003,51.5059814453125,None,0001-01-01T00:00:00,0,None,0,0,0,0
4,64037f7c555fc900eeee1909,1130836,0,PI/000034075,Mv City Cruises Erasmus,Other catering premises,7841,Cherry Garden Pier,Cherry Garden Street Rotherhithe,Charlton,...,0.249255999922752,51.1236228942871,None,0001-01-01T00:00:00,0,None,0,0,0,0

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 
longitude = 

query = coll.find("RatingValue" : "5", "geocode.latitude": , "geocode.longitude": )
sort =  

# Print the results
results = []

for result in sort:
    results.append(result)
    
pprint.pprint(results)

In [ ]:
# Convert result to Pandas DataFrame
nearby_df = pd.json_normalize(results)

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

# Print the number of documents in the result

In [ ]:
# Print the first 10 results

In [ ]:
# Convert the result to a Pandas DataFrame
la_hygiene_df = pd.json_normalize(results)

# Display the number of rows in the DataFrame
len(la_hygiene_df.index)

In [ ]:
# Display the first 10 rows of the DataFrame
la_hygiene_df.head()